.parent {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  border: 1px solid red;
  padding: 0;
  background-color: #e8e8e9;
  justify-content: center;
}

.child {
  width: 100px;
  height: 100px;
  background-color: #8cacea;
  margin: 8px;
}
